{{> header}}


<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="uninett-color-white uninett-padded gutter">

                <h1>Opprett ny lab</h1>

                <p>Som faglærer kan du enkelt opprette en maskinlab for dine studenter. Du kan her sette opp en mal og ressurspolicy for hvor mye ressurser hver student kan disponere.</p>

                <form>
                  <div class="form-group">
                    <label for="labname">Navn på lab</label>
                    <input type="name" class="form-control" id="labname" placeholder="Navn på lab">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                  <a class="btn btn-primary " target="_blank"
                      href="#" role="button">
                      <span class="glyphicon glyphicon-cloud"></span> Opprett ny lab</a>
                </form>

                <p></p>

            </div>
        </div>
    </div>

</div>





{{> footer}}
