{{> header}}


<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron uninett-color-lightBlue">

                <h1>UH-sky eduLab</h1>
                <p>Labmaskiner i skyen. Raskt, enkelt og billig. Et enkelt grensesnitt som benytter seg av Dataporten og AWS API-er.</p>

                <p>&nbsp;</p>

                <p><strong>Kom i gang </strong>

                    <a class="btn btn-default btn-lg" target="_blank"
                        href="/create-lab" role="button">
                        <span class="glyphicon glyphicon-cloud"></span> Opprett ny lab</a>

                    <a class="btn btn-warning btn-lg" target="_blank"
                        href="#" role="button">
                        <span class="glyphicon glyphicon-console"></span> Administrer maskiner</a>

                    <a class="btn btn-primary btn-lg" target="_blank"
                        href="#" role="button">
                        <span class="glyphicon glyphicon-dashboard"></span> Oversikt forbruk</a>

                </p>

            </div>
        </div>
    </div>

</div>





{{> footer}}
