{{> header}}


<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="uninett-color-white uninett-padded gutter">

                <h2>Lab 3 i faget Maskinlæring (IEX7765)</h2>

                <p>Her er alle maskinene som er opprettet frem til nå..</p>


                <div class="labListing">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Bruker</th>
                                <th>IP</th>
                                <th>Instance type</th>
                                <th>CPU</th>
                                <th>Memory</th>
                                <th>Runtime</th>
                                <th>Status</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img style="margin-top: -5px; max-height: 40px; max-width: 40px; border: 0px solid #b6b6b6; " class="img-circle img-thumbnail" src="https://api.dataporten.no/userinfo/v1/user/media/p:54f93233-8603-497d-9241-17a69e12e619 " alt="Profile photo">
                                    Andreas Åkre Solberg</td>
                                <td class="ttcol">10.88.2.33</td>
                                <td>t2.micro</td>
                                <td>1</td>
                                <td>2 GiB</td>
                                <td>3.2 hours</td>
                                <td><i style="color: #484" class="glyphicon glyphicon-play"></i>  Running</td>
                                <td>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pause"></i> Stopp</button>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-console"></i> SSH</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img style="margin-top: -5px; max-height: 40px; max-width: 40px; border: 0px solid #b6b6b6; " class="img-circle img-thumbnail" src="https://api.dataporten.no/userinfo/v1/user/media/p:54f93233-8603-497d-9241-17a69e12e619 " alt="Profile photo">
                                    Andreas Åkre Solberg</td>
                                <td class="ttcol">10.88.2.34</td>
                                <td>t2.micro</td>
                                <td>1</td>
                                <td>2 GiB</td>
                                <td>4.9 hours</td>
                                <td><i style="color: #484" class="glyphicon glyphicon-play"></i>  Running</td>
                                <td>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pause"></i> Stopp</button>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-console"></i> SSH</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img style="margin-top: -5px; max-height: 40px; max-width: 40px; border: 0px solid #b6b6b6; " class="img-circle img-thumbnail" src="https://api.dataporten.no/userinfo/v1/user/media/p:54f93233-8603-497d-9241-17a69e12e619 " alt="Profile photo">
                                    Andreas Åkre Solberg</td>
                                <td class="ttcol">10.88.2.35</td>
                                <td>t2.micro</td>
                                <td>1</td>
                                <td>2 GiB</td>
                                <td>1.2 hours</td>
                                <td>Stopped</td>
                                <td>
                                    <button type="button" name="button" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-play"></i> Start</button>
                                    <button type="button" name="button" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove-circle"></i> Slett</button>
                                    <!-- <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-console"></i> SSH</button> -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img style="margin-top: -5px; max-height: 40px; max-width: 40px; border: 0px solid #b6b6b6; " class="img-circle img-thumbnail" src="https://api.dataporten.no/userinfo/v1/user/media/p:d75d5bc2-4f09-4724-a5a4-9c49d3e40dff" alt="Profile photo">
                                    Jaime Pérez Crespo</td>
                                <td class="ttcol">10.88.2.11</td>
                                <td>t2.micro</td>
                                <td>1</td>
                                <td>2 GiB</td>
                                <td>38.2 hours</td>
                                <td><i style="color: #484" class="glyphicon glyphicon-play"></i>  Running</td>
                                <td>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pause"></i> Stopp</button>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-console"></i> SSH</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img style="margin-top: -5px; max-height: 40px; max-width: 40px; border: 0px solid #b6b6b6; " class="img-circle img-thumbnail" src="https://api.dataporten.no/userinfo/v1/user/media/p:d75d5bc2-4f09-4724-a5a4-9c49d3e40dff" alt="Profile photo">
                                    Jaime Pérez Crespo</td>
                                <td class="ttcol">10.88.2.12</td>
                                <td>t2.micro</td>
                                <td>1</td>
                                <td>2 GiB</td>
                                <td>38.1 hours</td>
                                <td><i style="color: #484" class="glyphicon glyphicon-play"></i>  Running</td>
                                <td>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pause"></i> Stopp</button>
                                    <button type="button" name="button" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-console"></i> SSH</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


                <p>Denne lab-en avsluttes ved midnatt ved overgangen til 3. juni 2017, da vil alle maskiner slettes. Det er 127 dager igjen.</p>



            </div>
        </div>
    </div>

</div>





{{> footer}}
